.container {
  @apply flex items-center space-x-24;
}

.item {
  @apply flex-1 flex flex-col space-y-12;
}

.title {
  @apply text-7xl bg-gradient-to-b from-green-700 to-gray-400 bg-clip-text text-transparent;
}

.img {
  width: 100%;
  height: 500px;
  object-fit: contain;
  /* animation: move 3s infinite ease alternate; */
}


@keyframes move {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(10px);
  }
}

.desc {
  @apply text-2xl font-light;
}
