/* 테일윈즈 적용 */

.container{
  @apply h-24 flex justify-between items-center;
}

.logo{
  @apply font-bold text-xl;
}

.links{
  @apply flex items-center space-x-5;
}

.logout {
  @apply px-2 py-1 border-none bg-green-500 text-white cursor-pointer rounded-md;
}



